/*

  because these get hidden (and redrawn with images) by the default mapzen stylesheet
  and that's a bad idea for default/common/basic HTML form elements
  (20160929/thisisaaronland)

*/

body {
    background-color: #fff !important;
}

input[type="checkbox"] {
    opacity: 1 !important;
}

input[type="radio"] {
    opacity: 1 !important;
}

.experimental {
    background-color:#6EA0A6;
    color:#fff;
    padding:.4em;
}

h2 .experimental {
    font-size:.3em;
}

.experimental-verbose:before {
    content: "this method is ";
}

h3 {
    margin-top:.5em;
    margin-bottom: .75em;
}

.api-param-example:before {
    content: "for example: ";
    font-weight:200;
}

.api-param-example {
    text-align:right;
    font-size: small !important;
    font-weight:700;
}

.hey-look {
    font-weight:700;
}